.box-container {
  // @include FlexCenter(column);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding: 25px;
  width: 100%;
}
.boxcard {
  border: 1 solid $third-color;

  border-radius: 10px;
  @include FlexCenter(row);

  padding: 0px;
  margin: 10px;
  min-width: 340px;
  width: 100%;
}
.boxcard__left {
  width: 40%;
  max-width: 200px;
  overflow: hidden;
  padding: none;
  margin: none;
  // border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;

  .boxcard__left--picture {
    object-fit: cover;
    object-position: top center;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 140px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
.boxcard__right {
  background-color: $third-color;
  height: 140px;
  max-height: 140px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  // @include FlexCenter(row);
  // justify-content: left;
  // min-height: 100%;
  // height: 100%;
  width: 100%;
  // background-color: blue;
  // padding: 0px;
}
.boxcard__right__title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px;
}
.boxcard__right__voting {
  display: block;
  margin: 10px;
}
.boxcard__right__category {
  display: block;
  margin: 10px;
}
