*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  // @include FlexCenter(column);
  // flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 20;
  padding: 0;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: $font-stack;

  background-color: $secondary-color;
}
.headline {
  padding: none;
  margin: none;
  display: block;
}
